body {
  margin: 0;
}

html,
body,
#perspective {
  height: 100%;
}

#perspective {
  perspective: 1000px;
  /* center object */
  display: flex;
  align-items: center;
  justify-content: center;
}

#object {
  transition: 300ms ease-out;
  /* optional */
  background: #bbb;
  padding: 20px;
  /* example content */
  font: bold 20vw sans-serif;
}